.chat-footer {
    height: 3em;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
    input {
      height: 100%;
      flex: 85%;
      border: 0;
      padding: 0 0.7em;
      font-size: 1em;
      border-right: 1px dotted #607d8b;
      outline: none;
      font-family: "Open Sans", sans-serif;
    }
    button {
      border: 0;
      width: 2em;
      cursor: pointer;
      height: 100%;
      background: #ffffff;
      font-size: 25px;
      color: cornflowerblue;
    }
  }

  .footer-container {
    position: relative;
  }
  .footer-container div {
    position: absolute;
    bottom: 50px;
    right: 20px;
  }